<!DOCTYPE html>
<html lang="en"  ng-app="portfolio">

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <!-- Compiled and minified CSS -->
  <meta name="viewport" content="width=device-width">
  <!--Import Google Icon Font-->
  <script src="js/angular.min.js"></script>
  <script src="js/portfolioApp.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'>
  
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/materialize.css">
</head>

<body ng-controller="PortfolioController as workList">

  <!-- Header Section–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header id="header">
    <div class="main_nav">
      <div class="container">
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav id="qwe"> 
          <ul>
            <li><a class="smoothscroll" href="#header">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#portfolio">Work</a></li>
            <li><a class="smoothscroll" href="#skills">Skills</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="title">
      <h1 class="heading"> I'm Kevin iOS Developer Work At Codiscos.</h1>
      <h2 class="heading">Medellín, Colombia</h2>
      <a class="smoothscroll" href="#about">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
      </a> 
    </div>

    <a class="smoothscroll" href="#about">
      <div class="scroll-down"></div>
    </a> 

  </header>
  
<!-- About Section–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
  
  <section id="about">
    <div class="container">
      <div class="row">

          <ul class="unstyled">
              <li >
                <label >
                  <span>{{t.title}}</span>
                  <span>{{t.description}}</span>
                  <span>{{t.goolePlay}}</span>
                  <span>{{t.appStore}}</span>
                </label>
              </li>
            </ul>

        <h1>About</h1>
        <div class="block"></div>
        <p>An experienced web developer and mobile app for iOS with a strong interest in project that require both conceptual and analytical thinking. Always eager to learn more trick from anyone-regardless of the industry to improve skill social and technique to undertake innovative ideas like a hobby.</p>

        <p>Available for freelance on weekends</p>
      </div>
    </div>
  </section>

<!-- Portfolio Section–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

  <section id="portfolio">
    <div class="container">
      <h1>Work</h1>

      <div class="block"></div>

      <div class="row" ng-repeat="works in workList.works">

          <div class="four columns" ng-repeat="work in works"> 
            <div class="card">

              <div class="card-image waves-effect waves-block waves-light">
                
                <div class="carousel carousel-slider center" data-indicators="true">
                  <div class="carousel-item white-text" href="#one!" ng-repeat="image in work.images">
                    <img class="activator" ng-src="{{image.url}}">
                  </div>
                </div>

              </div>

              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{work.title}}<i class="material-icons right">more_vert</i></span>
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{work.title}}<i class="material-icons right">close</i></span>
                <p>{{work.description}}</p>

                <div class="chip" ng-repeat="platform in work.platforms">
                  <img ng-src="{{platform.icon}}" alt="android logo"> <a ng-href="{{platform.url}}">{{platform.name}}</a> 
                </div>
                
                <div>
                  <span ng-repeat="hashtag in work.hashtags">
                      <span class="badge">{{hashtag.hashtag}}</span>
                  </span>
                  
                </div>
                
              </div>

            </div>
          </div>
        </div>      
    </div>
  </section>

<!-- Skills Section–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

  <section id="skills">
    <div class="container">
      <h1>Skills</h1>
      <div class="block"></div>
      <div class="row">
        <div class="one-third column">
          <h3>Design</h3>
          <p>I do not know why I put desing in my skill, thearfor I do not know nothing about it, but I like the simplicity of things. I did an effort to design this web. </p>
        </div>
        <div class="one-third column">
          <h3>Development</h3>
          <p>I love programming, I know some language but I focused in Swift, from web development I don't like HTML and SCC but JS is different if used Angular. Already use Cocos2d-x to made a basic mini game, I teach Ionic to learn Ionic and like tutor I worked in pair programing to made some hibrid apps.
            <br>
            This 2018 I want to learn Golang already made my first Api-Rest but is not enough yet.</p>
        </div>
        <div class="one-third column">
          <h3>Personal</h3>
          <p>I like to play chess, do hiking with coworkers, I like for planning and develop games using Unity3D and apps with friends like ideas to supply the people needs or ours, some time We play Zombicide or most of the time Splatoon.</p>
        </div>
      </div>
    </div>
  </section> 

  <footer>
    <div class="container valign-wrapper">
      <div class="nine columns ">
        <p>Created with <i class="heart-icon material-icons">favorite_border</i> by Kevin.</p>
      </div>

      <div class="right-align">
          <p >rojke34@gmail.com</p>
          <p>+57 301 6016976</p>
      </div>

    </div>
  </footer>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script  src="js/index.js"></script>
  <script  src="js/materialize.js"></script>          

</body>

</html>
